
머신러닝/231116_Basecode_Simplified_VGG_CIFAR10/cifar-100-python/file.txt~
머신러닝/231116_Basecode_Simplified_VGG_CIFAR10/cifar-100-python/meta
머신러닝/231116_Basecode_Simplified_VGG_CIFAR10/cifar-100-python/train
머신러닝/231116_Basecode_Simplified_VGG_CIFAR10/cifar-100-python/test
머신러닝/231116_Basecode_Simplified_VGG_CIFAR10/cifar-100-python.tar.gz
